section.main::before {
  background-image: url("../Obrazky/Kocky/kocka_3.jpg");
}

@keyframes animace_tlacitko {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}
section.main div.text h1 {
  font-size: 5em;
  color: white;
}
section.main p {
  text-align: justify;
  color: white;
}
div.content img {
  box-shadow: -15px -15px 0px 1px var(--sekundarnibarva);
}
@media only screen and (max-width: 1215px) {
  div.content {
    width: 75%;
  }
}
@media only screen and (max-width: 1000px) {
  div.content img {
    width: 200px;
    height: 225px;
    object-fit: cover;
    box-shadow: -15px -15px 0px 1px var(--sekundarnibarva);
  }
}
