section.main {
  width: 100%;
}
section.main:before {
  background-image: url("../Obrazky/Kocky/kocka_4.jpg");
}
section#page {
  width: 100%;
  height: 100vh;
  background-color: var(--sekundarnibarva);
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-rows: auto auto auto;
}
.g1,
.g2 {
  width: 35%;
  padding: 2.5%;
  background-color: var(--primarnibarva);
  border-radius: 25px;
}
section#page .g1 {
  color: white;
  grid-area: 1 / 1;
}
section#page .g2 {
  color: white;

  grid-area: 2 / 2;
}
div.content {
  flex-wrap: unset;
  height: auto;
  justify-content: center;
  position: relative;
  width: 80%;
  background-color: #efefef;
}
div.content:after,
div.content:before {
  content: "";
  height: 175px;
  position: absolute;
  width: 175px;
}
div.main section.page:nth-child(2) div.content:before,
div.main section.page:nth-child(4) div.content:before {
  border-left: 15px solid var(--primarnibarva);
  border-top: 15px solid var(--primarnibarva);
  left: 0;
  top: 0;
}
div.main section.page:nth-child(2) div.content:after,
div.main section.page:nth-child(4) div.content:after {
  border-bottom: 15px solid var(--primarnibarva);
  border-right: 15px solid var(--primarnibarva);
  bottom: 0;
  right: 0;
}
div.main section.page:nth-child(3) div.content:before {
  border-bottom: 15px solid var(--primarnibarva);
  border-left: 15px solid var(--primarnibarva);
  bottom: 0;
  left: 0;
}
div.main section.page:nth-child(3) div.content:after {
  border-right: 15px solid var(--primarnibarva);
  border-top: 15px solid var(--primarnibarva);
  right: 0;
  top: 0;
}
section.page div.pribeh {
  height: 100%;
}
div.pribeh h2 {
  color: var(--sekundarnibarva);
  font-size: 2.5rem;
}
div.content > img,
div.informace p {
  margin: 1%;
}
div.informace {
  text-align: justify;
}
