@import url(https://fonts.googleapis.com/css2?family=Alata&display=swap);
:root {
  --primarnibarva: #7d5e47;
  --sekundarnibarva: #ca9f68;
  --pozadi: #fefeff;
  --mid: 0 auto 0 auto;
}
* {
  font-family: Alata, sans-serif;
  scroll-behavior: smooth !important;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primarnibarva);
  border: 0 inset #fff;
  border-radius: 0;
}
body,
html {
  margin: 0;
}
div.main,
div.navbar,
div.navbar li,
div.navbar ul,
div.wrapper {
  display: flex;
}
div.navbar {
  align-items: center;
  background-color: var(--primarnibarva);
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position: sticky;
  top: 0;
  transition: 0.5s;
  width: 12%;
}
div.navbar:hover {
  width: 20%;
}
div.navbar img#logo {
  width: 100px;
  height: 100px;
}
div.navbar ul {
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  transition: 1s;
}
div.navbar li {
  align-items: center;
  justify-content: left;
  padding: 1.5em;
  width: 100%;
}
div.navbar li > * {
  margin: 0 0.5em;
}
div.navbar li img {
  height: 40px;
  width: 40px;
}
div.navbar a {
  color: #ffffff80;
  display: none;
  font-size: 1.3em;
  font-weight: 1000;
  text-decoration: none;
  transition: 0.6s;
}
div.navbar a.active,
div.navbar a:hover {
  color: #fff;
}
div.navbar div.social {
  align-content: center;
  align-items: center;
  display: flex;
}
div.main,
div.navbar div.social {
  justify-content: center;
  width: 100%;
}
div.social img {
  width: 35px;
  height: 35px;
}
div.main {
  flex-wrap: wrap;
  height: 100vh;
}
section.main {
  --webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  height: 100vh;
  overflow: hidden;
  position: relative;
}
section.main:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  filter: brightness(50%);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}
section.main h1 {
  margin: 0;
  text-align: center;
}
section.page {
  align-content: center;
  display: grid;
  height: 100vh;
  justify-items: center;
  width: 75%;
}
div.content {
  align-items: center;
  box-shadow: 5px 5px 15px -5px #000;
  display: flex;
  flex-wrap: wrap;
  padding: 2.5%;
  width: 90%;
}
section.main div.text {
  margin: 5% auto;
  text-align: center;
  width: 70%;
}
section.main div.text h1 {
  color: #fff;
  font-size: 5em;
}
section.main p {
  color: #fff;
  text-align: justify;
}
a.tlacitko img {
  animation: animace_tlacitko 1s infinite alternate;
  filter: brightness(0) invert(1);
  margin: 45% 0 0;
  width: 5%;
}
div.nahoru {
  bottom: 50px;
  right: 50px;
  position: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--primarnibarva);
  width: 50px;
  height: 50px;
  transition: 0.5s;
  color: #fff;
}
div.nahoru:hover {
  cursor: pointer;
  background-color: #9b785e;
}
@keyframes animace_tlacitko {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}
@media only screen and (max-width: 1400px) {
  div.navbar:hover {
    width: 35%;
  }
  div.social img {
    height: 35px;
    width: 35px;
  }
}
@media only screen and (min-width: 1100px) {
  div.hamburger-menu {
    display: none;
  }
  div.navbar:hover a {
    display: block;
  }
  div.social img {
    transition: 0.4s;
  }
  div.social a:hover img {
    filter: brightness(0) invert(1);
  }
  div.social a {
    display: flex;
    justify-content: space-around;
  }
  div.main {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  section {
    scroll-snap-align: start;
  }
  div.content img {
    height: 350px;
    object-fit: cover;
    width: 350px;
  }
}
@media only screen and (max-width: 1100px) {
  div.navbar,
  div.navbar:hover,
  div.top {
    width: 100%;
  }
  div.top {
    align-content: center;
    display: flex;
  }
  div.navbar {
    height: 3.5em;
    position: fixed;
    top: 0;
    z-index: 90;
  }
  div.navbar div.navbar ul,
  div.navbar li {
    display: none;
  }
  div.top {
    align-items: center;
    height: 5rem;
    justify-content: space-between;
  }
  div.navbar img#logo {
    height: 55px;
    margin: 0 1rem;
    width: 55px;
  }
  div.hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    height: 2.5rem;
    justify-content: space-between;
    margin: 0 1rem;
    width: 2.5rem;
  }
  div.bar-bottom,
  div.bar-middle,
  div.bar-top {
    background: #fff;
    border-radius: 5px;
    height: 5px;
    margin: 3px 0;
    transform-origin: left;
    transition: 0.5s;
  }
  div.social img {
    height: 35px;
    width: 35px;
  }
  section.main {
    height: 100vh;
  }
  section.page {
    height: auto;
    margin: 10%;
    width: 95%
  }
}
@media only screen and (max-width: 1000px) {
  section.main:before {
    background-image: url(https://caujasutom.github.io/Assets/Obrazky/Kocky/kocka_0.jpg);
  }
  section.main div.text h1 {
    color: #fff;
    font-size: 4em;
  }
  section.main div.text div.list {
    justify-content: center;
  }
  a.tlacitko img {
    animation: animace_tlacitko 1s infinite alternate;
    filter: brightness(0) invert(1);
    margin: 80% 0 0;
    width: 10%;
  }
  div.content {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 95%;
  }
  div.main {
    margin-top: 3.5em;
  }
}
@media only screen and (max-width: 400px) {
  section.main div.text h1 {
    color: #fff;
    font-size: 3em;
  }
  section.main div.text p {
    color: #fff;
    font-size: 0.8em;
  }
}