@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
:root {
  --primarnibarva: #7d5e47;
  --sekundarnibarva: #ca9f68;
  --pozadi: #fefeff;
  --mid: 0 auto 0 auto;
}
* {
  font-family: "Alata", sans-serif;
}
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primarnibarva);
  border-radius: 0px;
  border: 0px inset #ffffff;
}
body,
html {
  background-image: linear-gradient(
    to right bottom,
    #dedede,
    #e6e6e6,
    #eeeeee,
    #f7f7f7,
    #ffffff
  );
  scroll-behavior: smooth;
  margin: 0;
}
div.wrapper {
  display: flex;
}
div.navbar {
  top: 0;
  position: sticky;
  background-color: var(--primarnibarva);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.5s;
  width: 12%;
  height: 100vh;
}
div.navbar:hover {
  width: 20%;
}
div.navbar img#logo {
  width: 100px;
}
div.navbar ul {
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
div.navbar li {
  padding: 1.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}
div.navbar li > * {
  margin: 0 0.5em 0 0.5em;
}
div.navbar li img {
  width: 40px;
  height: 40px;
}
div.navbar a {
  color: #ffffff80;
  font-weight: 1000;
  transition: 0.6s;
  font-size: 1.3em;
  text-decoration: none;
  display: none;
}
div.navbar a.active {
  color: white;
}
div.navbar a:hover {
  color: white;
}
div.navbar div.social {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
div.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.main {
  overflow: hidden;
  position: relative;
  height: 100vh;
  backdrop-filter: blur(100px);
}
section.main::before {
  content: "";
  position: fixed;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}
section.main h1 {
  margin: 0;
  text-align: center;
}
section.page {
  height: 100vh;
  display: grid;
  align-content: center;
  justify-items: center;
  width: 75%;
}
div.content {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 2.5%;
  box-shadow: 5px 5px 15px -5px #000000;
}
div.content div.informace {
  width: 50%;
  display: grid;
  align-items: center;
}
div.informace p {
  margin: 1%;
}
div.content > img {
  margin: 1%;
}
div.content img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
section.main div.text {
  margin: 5% auto 5% auto;
  width: 70%;
  text-align: center;
}
section.main div.text h1 {
  font-size: 5em;
  color: white;
}
section.main p {
  text-align: justify;
  color: white;
}
a.tlacitko img {
  margin: 35% 0 0 0;
  animation: animace_tlacitko 1s infinite alternate;
  width: 10%;
  filter: brightness(0) invert(1);
}
footer {
  width: 100%;
  height: 15vh;
  background-color: var(--sekundarnibarva);
}
@media only screen and (max-width: 1400px) {
  div.navbar:hover {
    width: 35%;
  }
  div.social img {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (min-width: 1100px) {
  div.hamburger-menu {
    display: none;
  }
  div.navbar:hover a {
    display: block;
  }
  div.social img {
    transition: 0.4s;
  }
  div.social a:hover img {
    filter: brightness(0) invert(1);
  }
  div.social a {
    display: flex;
    justify-content: space-around;
  }
  div.main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  section {
    scroll-snap-align: start;
  }
}
@media only screen and (max-width: 1100px) {
  div.navbar {
    z-index: 90;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5em;
  }
  div.navbar:hover {
    width: 100%;
  }
  div.navbar div.navbar ul,
  div.navbar li {
    display: none;
  }
  div.top {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }
  div.navbar img#logo {
    width: 55px;
    height: 55px;
    margin: 0 1rem 0 1rem;
  }
  .hamburger-menu {
    margin: 0 1rem 0 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
  }
  .bar-top,
  .bar-middle,
  .bar-bottom {
    height: 5px;
    background: white;
    border-radius: 5px;
    margin: 3px 0;
    transform-origin: left;
    transition: all 0.5s;
  }
  div.social img {
    width: 45px;
    height: 45px;
  }
  section.main {
    height: 100vh;
  }
  section.page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10px;
  }
}
@media only screen and (max-width: 1000px) {
  section.main::before {
    background-image: url("../Obrazky/Kocky/kocka_0.jpg");
  }
  section.main div.text h1 {
    margin: 30% 0 0 0;
    font-size: 2em;
    color: white;
  }
  a.tlacitko img {
    margin: 80% 0 0 0;
    animation: animace_tlacitko 1s infinite alternate;
    width: 10%;
    filter: brightness(0) invert(1);
  }
  div.content {
    width: 80%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
